body{
    background-image: url(images/table-2879213_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

form h2{
    text-align: center;
    padding-top:8%;
    width: 100%;
    font-size: 4em;
    color:orangered;
    text-shadow: 2px 2px yellow;
}

form{
    padding-top:8%;
    margin:auto;
    width: 50%;
}

label{
    color:darkgreen;
    font-size:1.5em;
}
.btn{
    background: greenyellow;
    margin-left:45%;
}

.btn:hover{
    background: green;
}

.radio{
    font-size:1em;
    color:olivedrab;
    text-align: left;
    left:10%;    
}
.radio label{
    left:1%;
}
